/* shadows-into-light-regular - latin */
@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shadows-into-light-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/shadows-into-light-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/shadows-into-light-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/shadows-into-light-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/shadows-into-light-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/shadows-into-light-v14-latin-regular.svg#ShadowsIntoLight")
      format("svg"); /* Legacy iOS */
}
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Shadows Into Light";
  font-size: 46px;
  line-height: 1.5;
  background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
  text-transform: uppercase;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header__head {
  color: #cc00cc;
  font-size: 5rem;
}
.header__head:hover {
  transition: 1s ease;
  color: #ff6666;
}
.image {
  position: absolute;
  left: 0;
}
.item {
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 19px;
}
.item {
  margin-top: 25px;
}
.main__list {
  display: flex;
  flex-direction: column;
}
.item:nth-child(even) {
  flex-direction: row-reverse;
}
.item:hover {
  transition: 0.5s ease;
  background-color: #85144b;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .header__head {
    font-size: 36px;
    text-align: center;
  }
}
